html, body {
    height: 100%;
    margin: 0px;
}
body {
    display: flex;
    flex-direction: column;
}
.bodyzero {
    display: flex;
    justify-content: space-between;
    flex: 1 0 auto;
    align-items: center;
    padding: 0px 100px;
    background-color:#222222;
}
.bodyzero ul {
    display: flex;
    list-style: none;
    gap: 30px;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.logo {
    color: aliceblue;
    font-size: 26px;
    font-weight: bold;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a {
    color:antiquewhite;
    text-decoration: none;
    font-weight: bold;
}
p {
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: aliceblue;
    font-weight: bold;
    text-justify: auto;
    width: 85%;
}
.bodyone {
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
    background-color:#444444;
    padding: 100px;
}
.containerone {
    display: flex;
    flex-direction: column;
}
.headerone {
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 36px;
    font-weight: bolder;
    color: aliceblue;
}
.personimg img {
    width: 400px;
}
button {
    width:100px;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 10px;
    padding: 10px;
    background-color: aliceblue;
    border: 2px solid aliceblue;
}
.bodytwo {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    padding: 50px;
}
.images {
    display: flex;
}
.images img {
    margin: 10px;
    width: 200px;
}
.descript {
    display: flex;
}
.descript p {
    width: 200px;
    color: #1f2937;
    margin: 10px;
    text-align: center;
}
.headertwo {
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 20px;
    margin-top: -20px;
}
.bodythree {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    padding: 50px;
}
.quote {
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 28px;
    width: 70%;
    font-weight: bold;    
    text-align: justify;
}
.famous {
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-style: italic;
    margin-top: 10px;
    margin-left: 0px;
}
.bodyfour {
    display: flex;
    flex: 1 0 auto;
    justify-content: space-between;
    align-items: center;
    background-color: bisque;
    padding: 60px;
    margin: 100px;
    border-radius: 10px;
}
.signupheader {
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 28px;
    font-weight: bold; 
}
.signuptext {
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: bold;    
}
footer {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: bold;  
    background-color: #222222;
    color: aliceblue;
    padding: 20px;
}